*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    padding: 3% 0 3% 0; 
  background-image: url('../imgs/Paisaje.jpg');
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  
}
.Form{
   width: 400px;
   min-width: 400px;
   border-radius: 10px;
   background-color: rgb(185, 243, 243);
   margin: auto;

}
.Form img{
    width: 150px;
    display: block;
    margin: 20px auto;
}
.Form2{
    margin-top: auto;
    background-color: antiquewhite;
display: flex;
flex-direction: column;
align-items: center;
}



